@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../fonts/Roboto-Black-Italic.ttf");
}

@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Bold Italic";
  src: url("../fonts/Raleway-Bold-Italic.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(219,238,242);
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100%;
  height: 700px;
  background: url("../images/index-back.jpg") no-repeat;
  background-size: cover;
}

.header-container {
  width: 1170px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.logo {
  width: 125px;
  height: 111px;
  position: absolute;
  top: 24px;
  left: 70px;
}

.header-social {
  position: absolute;
  top: 50px;
  right: 55px;
}

.header-social a {
  color: #9ed0db;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  text-shadow: 2px 2px 2px #000000;
}

.header-social a:hover {
  color: #337D8E;
}

.welcome {
  width: 270px;
  height: 300px;
  position: absolute;
  top: 336px;
  background-color: #9ed0db;
  color: #333333;
}

.welcome-header {
  position: relative;
  top: 76px;
  left: 26px;
  font-family: "Raleway Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.welcome-description {
  position: relative;
  top: 94px;
  left: 23px;
  font-family: "Raleway Bold Italic", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 0.8;
}

.promo {
  position: absolute;
  top: 237px;
  right: 128px;
}

.promo-header {
  font-size: 48px;
  color: #9ed0db;
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  line-height: 0.8;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.promo-description {
  font-family: "Raleway Regular", sans-serif;
  font-size: 18px;
  color: #9ed0db;
  margin-top: 4px;
  line-height: 1.35;
  text-shadow: 1px 1px 1px #000000;
}

.promo-buy-button {
  display: inline-block;
  margin-top: 60px;
  padding: 19px 28px;
  background-color: #9ed0db;
  font-family: "Raleway Black", sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.promo-buy-button:hover {
  background-color: #ffffff;
}

main {
  width: 100%;
  height: 2305px;
}

.main-container {
  width: 1170px;
  height: 2335px;
  margin: 0 auto;
  margin-top: -15px;
}

.sidebar {
  width: 270px;
  float: left;
}

.main-menu {
  margin: 0;
  padding: 0;
  background-color: #9ed0db;
}

.main-menu li {
  list-style-type: none;
  position: relative;
}

.main-menu li a {
  display: block;
  padding: 15px 42px;
  font-family: 'Roboto Black', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-menu li a:hover {
  background: #333333;
  color: white;
}

.main-menu-header a {
  color: white;
  padding: 25px 42px;
  background: #333333;
}

.sub-menu {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 270px;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #75e3fe;
}

.sub-menu li {
  margin: -1px;
 }

.main-menu li:hover .sub-menu {
  display: block;
} 

.sub-sub-menu {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 201px;
  z-index: 10;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #81e6ff;
}

.sub-menu li:hover .sub-sub-menu {
  display: block;
} 

.banner {
  width: 270px;
  height: 347px;
  margin-top: 30px;
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.banner-content {
  padding: 169px 57px 50px 116px;
  background: url('../images/store.jpg') no-repeat;
  color: #9ed0db;
  text-shadow: 1px 1px 2px #5e5e5e;
  font-family: 'Raleway Black', sans-serif;
  font-size: 36px;
  font-style: italic;
  line-height: 36px;
  text-transform: uppercase;
}

.products {
  width: 870px;
  height: 1659px;
  float: right;
  background-color: rgb(219,238,242);
}

.products-header {
  width: 100%;
  padding: 30px;
  color: #707070;
  font-family: 'Roboto Black', sans-serif;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  box-sizing: border-box;
}

.products-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 270px;
  height: 320px;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.product-image {
  width: 250px;
  height: 232px;
  margin: 10px;
  background-color: #eaeaea;
}

.product-description {
  width: 137px;
  float: left;
  margin-top: 5px;
  margin-left: 26px;
  font-size: 14px;
  font-family: "Roboto Black Italic", sans-serif;
  max-height: 2.2em;
  overflow: hidden;
}

.product-price {
  width: 85px;
  float: right;
  margin-top: 7px;
  margin-right: 22px;
  text-align: right;
  font-size: 18px;
  font-family: 'Roboto Black Italic', sans-serif;
  line-height: 0.95;
}

.product-price-old {
  color: #e24602;
  font-size: 14px;
  text-decoration: line-through;
}

.product-new,
.product-hot {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 4px 0 0;
  font-size: 8px;
  font-family: 'Roboto Black', sans-serif;
  text-transform: uppercase;
  text-align: right;
  box-sizing: border-box;
}

.product-new {
  color: #fff;
  background: url("../images/new-corner.png") no-repeat right top;
}

.product-hot {
  color: #000;
  background: url("../images/hot-corner.png") no-repeat right top;
}

.brands {
  width: 100%;
  height: 160px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  align-items: center;
  box-sizing: border-box; 
}

.instagram-feed {
  width: 100%;
  float: left;
  background-color: #eaeaea;
}

.instagram-feed-header { 
  height: 22px;
  float: left;
  margin-top: 51px;
  margin-left: 449px;
  color: #333333;
  font-family: 'Roboto Black Italic', sans-serif;
  font-size: 22px;
}

.instagram-feed-header span {
  font-size: 18px;
}

.instagram-feed-images {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 50px;
  align-items: center;
}

.instagram-feed-images img {
  border: 7px solid #ffffff;
}

.big-social {
  width: 100%;
  height: 150px;
  float: left;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.big-social a {
  width: 33.3333333333333333%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.big-social a i {
  color: #fff;
  font-size: 4.5rem;
}

.big-social-facebook {
  background: #3b5997;
}

.big-social-twitter {
  background-color: #3fccfd;
}

.big-social-pinterest {
  background-color: #cb2027;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #373737;
}

.footer-container {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
  background-color: lightgrey;
}
